{% load static %}
{% block body %}
{% include "recruiter_navigation.html" %}


<div class="container">
  <h1>Add Job Details</h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
      <label class=" form-label">Job Title</label>
      <input type="text" name="jobtitle" class="form-control" placeholder="Enter Job Title" aria-label="Last name" required>
    </div>
    <div class="row g-3">
      <div class="col">
        <label class="form-label">Start Date</label>
        <input type="date" name="startdate" class="form-control" required>
      </div>
      <div class="col">
        <label class=" form-label">End Data</label>
        <input type="date" name="enddate" class="form-control" required>
      </div>
    </div>
    <div class="row g-3">
      <div class="col">
        <label class="form-label">Salary(Per Month)</label>
        <input type="text" name="salary" class="form-control" required>
      </div>
      <div class="col">
        <label class=" form-label">Job Description Image</label>
        <input type="file" name="logo" class="form-control" required>
      </div>
    </div>
    <div class="mb-3">
      <label " class=" form-label">Company Location</label>
      <input type="text" name="location" class="form-control" placeholder="Enter your Company Location" aria-label="Last name" required>
    </div>
    <div class="mb-3">
      <label " class=" form-label">Experience</label>
      <input type="text" name="experience" class="form-control" placeholder="Enter your Experience(in years)" aria-label="Last name" required>
    </div>
    <div class="mb-3">
      <label " class=" form-label">Skills</label>
      <input type="text" name="skills" class="form-control" placeholder="Enter your skills" aria-label="Last name" required>
    </div>
    <div class="mb-3">
      <label class="form-label">Description</label>
      <textarea name="description" class="form-control" id="form4Example3" rows="4" placeholder="Enter your Description"></textarea>
    </div>
        <div class="mb-3">
          <input type="submit" value="Submit" class="form-control btn btn-primary">

        </div>

  </form>


</div>

{% if error == "no" %}
<script>
  alert("Job Details Succuessfully added")
  window.location = ('{% url 'job_list' %}')
{% endif %}
</script>
{% if error == "yes" %}
<script>
  alert("Something went wrong! try again")
{% endif %}
</script>


{% endblock %}
