{% load static %}
{% block body %}
{% include "admin_navigation.html" %}
<div class="container">
  <h1>View All Jobs</h1>
  <table id="example" class="tabl table-striped">
    <thead>
      <tr>
        <th>S.No</th>
        <th>Title</th>
        <th>Recruiter Name</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Salary</th>
        <th>Image</th>
        <th>Description</th>
        <th>Experience</th>
        <th>Location</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for i in job %}
      <tr>
        <td>{{forloop.counter}}</td>
        <td>{{i.title}}</td>
        <td>{{i.recruiter}}</td>
        <td>{{i.start_date}}</td>
        <td>{{i.end_date}}</td>
        <td>{{i.salary}}</td>
        <td> <img src="{{i.image.url}}" class="rounded mx-auto d-block" style="width: 200px; height: 200px;" alt=""> </td>
        <td>{{i.description}}</td>
        <td>{{i.experience}}</td>
        <td>{{i.location}}</td>
        <td>
          <a class="btn btn-success" href="{% url 'edit_jobdetail_admin' i.id %}">Edit</a><br><br>
          <a class="btn btn-danger" onclick="return confirm('Are You Sure?')" href="{% url 'delete_job' i.id %}">Delete</a>

        </td>
      </tr>
      {% endfor %}
    </tbody>

  </table>

</div>
{% endblock %}
